﻿<ul class="nav navbar-nav navbar-right">
     <li class="dropdown">
         <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
             @System.Threading.Thread.CurrentThread.CurrentCulture.NativeName
             <span class="caret"></span>
         </a>

         <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="/zh-tw">繁體中文</a></li>
            <li><a class="dropdown-item" href="/en-us">英文</a></li>
        </ul>
     </li>
</ul>